
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    background-size: cover;
}

.navbarContainer{
    border: none;
    display: flex;
    justify-content: end;
    margin: auto 25px;
}

.navbarLink .linkHeader{
    transition: .2s;
    font-family: Helvetica;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    border: 2px rgba(26,125,196, 0.4) solid;
    margin-left: 25px;
    padding: 10px 15px;
    box-shadow: 12px 10px 5px -6px rgba(0,0,0,0.75);
}

.navbarLink .linkHeader:hover{
    box-shadow: 1px 0px 12px 6px rgba(26,125,196, 0.4);
    border-radius: 15px;
    color: white;
}

.upToHome{
    display: none;
    box-shadow: -1px 0px 5px 9px rgba(21,114,166,0.48);
    background-color: rgb(23, 211, 218);
    padding: 5px;
    height: 40px;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
}


.homeContainer{
    height: 80vh;
    background-color: transparent;
    box-shadow: -1px 0px 5px 9px rgba(21,114,166,0.48);
    transition: .2s;
    border: 1px white solid;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.homeContainer:hover{
    border-radius: 65px;
    background-color:rgba(10, 9, 9, 0.6);
}

.titleHomeContainer{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.buttonHome{
    font-size: 2rem;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border: 3px rgba(26,125,196,0.75) solid;
    transition: .3s;
    text-decoration: none;
    box-shadow: 12px 10px 5px 3px rgba(0,0,0,0.75);
}


.buttonHome:hover{
    box-shadow: 1px 0px 12px 6px rgba(20, 80, 122, 0.75);
    border-radius: 15px;
    color: white;
}

.linearHomeContainer{
    border-bottom: 1px white solid;
    width: 50%;
    transition: .5s;
    margin: 55px auto;
}

.principalInfoContainer{
    margin: 80px 0;
}

.aboutImgContainer{
    height: 600px;
    text-align: center;
    transition: .5s;
    background-image: url(../img/programmer.png);
    background-repeat: no-repeat;
    background-position: center;

}

.aboutImgContainer:hover{
    box-shadow: 1px 0px 12px 6px rgba(20, 80, 122, 0.75);
}

.aboutInfoContainer{
    background-color:#273036;
    height: 600px;
    color: white;
    text-align: center;
    transition: .5s;
    box-shadow: 1px 0px 12px 6px rgba(20, 80, 122, 0.75);
}

.aboutInfoContainer:hover{
    border-radius: 100px;
}

.titleAboutInfo{
    font-weight: bold;
    font-size: 3rem;
    padding: 25px;
}

.pAboutInfo{
    padding: 25px;
    font-size: 1.8rem;
}

.footerContainer{
    background-color:#273036;
    height: 440px;
    padding-top: 50px;
    text-align: center;
}

.titleFooter{
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.iconsFooter{
    height: 50px;
    margin: 25px;
    transition: .5s;
    cursor: pointer;
}

.iconsFooter:hover{
    border-bottom: 5px rgba(18, 128, 207, 0.75) solid;
}